<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：命名空间，绑定接口-->
<mapper namespace="main.com.itdr.mapper.Mapper">
    <!--id是接口方法名-->
    <!--resultType是返回值类型-->
    <!--parameterType传参类型-->
    <select id="getAll" resultType="main.com.itdr.pojo.Order" >
    select * from `order`
    </select>

    <select id="getone" resultType="main.com.itdr.pojo.Order" parameterType="integer">
    select * from `order` where id=#{param1}
    </select>
</mapper>